@import "../mixin";

.Menu {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  height: 100vh;
  padding: 0;
  margin: 0;
  @include _320 {
  }
  @include _375 {
  }
}
.logo {
  height: 56px;
}
